@font-face {
	font-weight: 400;
	font-family: 'Flaticon';
	src: url('@/assets/fonts/icons/Flaticon.woff2') format('woff2');
	src: url('@/assets/fonts/icons/Flaticon.woff') format('woff');
}

@font-face {
	font-weight: 400;
	font-family: 'Roboto';
	src:
		url('@/assets/fonts/Roboto-Regular.woff2') format('woff2'),
		url('@/assets/fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-weight: 700;
	font-family: 'Roboto';
	src:
		url('@/assets/fonts/Roboto-Bold.woff2') format('woff2'),
		url('@/assets/fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
}
