$icons: (
	'mute': '\f100',
	'volume': '\f101',
	'next': '\f102',
	'previous': '\f103',
	'pause': '\f104',
	'play': '\f105',
	'menu': '\f106',
	'close': '\f107',
	'search': '\f108',
);

%icon-style {
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	font-size: 1rem;
	font-family: 'Flaticon', sans-serif;
	line-height: 1;
	text-decoration: inherit;
	text-transform: none;
	color: hsl(0deg 0% 100%);
}

@each $name, $value in $icons {
	.icon-#{$name} {
		&::before {
			content: $value;

			@extend %icon-style;
		}
	}
}
